/* Home Responsive 
==================================================*/

@media screen and (max-width: 1393px) {
  .home-wrapper .home-right-section .home-image {
    right: 200px !important;
    top: 250px !important;
  }
  .home-wrapper .home-right-section .home-image img {
    width: 150px !important;
  }
}

@media screen and (max-width: 1261px) {
  .home-wrapper .home-right-section .home-image {
    right: -100px !important;
    top: 250px !important;
  }
  .home-wrapper .home-right-section .home-image img {
    width: 180px !important;
  }

  .home-wrapper .home-right-section .home-image p {
    bottom: -130px !important;
  }

  .home-wrapper .home-left-section .left-section-content p {
    width: 100% !important;
  }

  .home-wrapper .home-right-section .rotate-text {
    font-size: 170px !important;
  }

  #bigbee::after {
    top: 140px !important;
  }
}

@media screen and (max-width: 848px) {
  .home-wrapper .home-left-section .logo {
    top: 60px !important;
    padding-left: 10px;
    left: -30px !important;
  }
  /* Menu */
  .menu {
    right: 40px !important;
    top: 60px !important;
  }
  .menu .bar {
    width: 35px !important;
    height: 2px !important;
  }
  .nav-wrapper .logo {
    top: 60px !important;
  }
  .nav-wrapper .logo img {
    width: 60px !important;
    height: 60px !important;
  }
  .home-wrapper .home-left-section .logo img {
    width: 60px !important;
    height: 60px !important;
  }
  .home-wrapper {
    width: 100%;
    flex-direction: column !important;
  }

  .home-wrapper .home-left-section {
    width: 100% !important;
    height: 100vh !important;
    padding: 0 !important;
  }

  .home-wrapper .home-right-section {
    height: 1000px !important;
    width: 100% !important;
    padding: 0 !important;
  }

  .home-wrapper .home-right-section .home-image {
    right: 0px !important;
  }
  .home-wrapper .home-right-section .home-image p {
    right: 200px !important;
    width: 200px;
  }
}
@media screen and (max-width: 583px) {
  .home-wrapper .home-right-section .home-image {
    right: -10px !important;
    top: 250px !important;
  }
}

/* ================================================================================ */

/* Service Section
================================================================ */

@media screen and (max-width: 1500px) {
  .service-wrapper .service-right-section .service-image {
    right: 200px !important;
    top: 250px !important;
  }
  .service-wrapper .service-right-section .service-image img {
    width: 200px !important;
  }
}

@media screen and (max-width: 1261px) {
  .service-wrapper .service-right-section .service-image {
    right: 50px !important;
    top: 450px !important;
  }
  .service-wrapper .service-right-section .service-image img {
    width: 200px !important;
  }

  .service-wrapper .service-right-section .service-image p {
    bottom: 200px !important;
  }

  .service-wrapper .service-left-section .service p {
    width: 60% !important;
  }

  .service-wrapper .service-right-section .rotate-text {
    font-size: 130px !important;
  }

  #service::after {
    top: 140px !important;
  }
}

@media screen and (max-width: 848px) {
  .service-wrapper .service-right-section .service-image p {
    bottom: 250px !important;
  }
  .service-wrapper {
    flex-direction: column-reverse !important;
  }
  .service-wrapper .service-right-section {
    width: 100% !important;
    height: 100vh !important;
    /* padding: 0 !important; */

    padding-top: 280px;
  }
  .service-wrapper .service-left-section {
    width: 100% !important;
    height: 1300px !important;
    /* padding: 0 !important; */
    padding-left: 20px !important;
  }

  .service-wrapper .service-left-section .service p {
    width: 100% !important;
  }
}

@media screen and (max-width: 679px) {
  .service-wrapper .service-right-section .service-image {
    right: -50px !important;
    top: 400px !important;
  }
  .service-wrapper .service-right-section .service-image img {
    width: 200px !important;
  }

  .service-wrapper .service-right-section .service-image p {
    bottom: 330px !important;
  }
  #service:after {
    top: 100px !important;
    left: 150px !important;
  }
}

@media screen and (max-width: 396px) {
  .service-wrapper .service-right-section .service-image {
    right: -40px !important;
    top: 300px !important;
  }
  .home-wrapper .home-right-section .home-image {
    right: -40px !important;
    top: 200px !important;
  }
  .service-wrapper .service-right-section .service-image img {
    width: 150px !important;
  }

  .service-wrapper .service-right-section .service-image p {
    bottom: 300px !important;
  }
  .service-wrapper .service-right-section .rotate-text {
    font-size: 130px !important;
  }

  #service::after {
    top: 100px !important;
    left: 100px !important;
  }
  .home-wrapper .home-right-section .rotate-text {
    font-size: 150px !important;
  }
  #bigbee::after {
    content: "MEDIA";
    position: absolute;
    top: 110px !important;
    z-index: 10000;
    left: 200px;
  }
}

@media screen and (max-height: 870px) {
  .home-wrapper .home-right-section .home-image p {
    bottom: 100px !important;
  }
}

/* Project Section Responsive
================================================================================ */

@media screen and (max-width: 1920px) {
  .project-image {
    width: 100px !important;
    left: 150px !important;
  }
}
@media screen and (max-width: 1288px) {
  .project-right-section {
    height: 1000px !important;
  }
  .project-right-section img {
    width: 400px !important;
  }

  .project-wrapper .project-left-section .rotate-text {
    right: 160px !important;
    top: 200px !important;
    font-size: 160px !important;
  }

  #project::after {
    top: 100px !important;
    left: 200px;
  }

  .project-wrapper .project-left-section .project-image p {
    font-size: 14px;
    letter-spacing: 5px;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 10px;
    left: -200px;
    color: var(--lightColor);
    font-family: "bison-medium";
  }
}

@media screen and (max-width: 888px) {
  .project-wrapper {
    flex-direction: column !important;
    width: 100% !important;
    height: 2000px !important;
  }
  .project-right-section,
  .project-left-section {
    height: 1000px !important ;
    width: 80% !important;
    padding: 0 !important;
  }

  .project-wrapper .project-left-section .project-image {
    left: 300px !important;
    width: 100px !important;
    top: -150px !important;
  }
}

@media screen and (max-width: 588px) {
  .project-right-section img {
    width: 300px !important;
  }
  .project-right-section {
    width: 90% !important;
    height: 800px !important;
  }
  .project-wrapper .project-left-section .project-image {
    left: 0px !important;
  }
  .project-wrapper .project-left-section .project-image p {
    left: 0px !important;
    width: 200px;
  }

  .project-wrapper .project-left-section .rotate-text {
    left: -120px !important;
  }
}

/* About Section
======================================================================= */

@media screen and (max-width: 1604px) {
  .about-section .about-left-section .rotate-text {
    right: 190px !important;
  }
}

@media screen and (max-width: 1149px) {
  .about-right-section {
    padding: 50px !important;
  }
  .about-section .about-left-section .rotate-text {
    font-size: 170px !important;
  }
  #about:after {
    top: 140px !important;
  }
  .about-right-section .top-section {
    width: 450px !important;
  }
  .about-right-section .bottom-section {
    width: 450px !important;
  }
  .about-right-section .top-section p {
    font-size: 14px !important;
  }
  .about-right-section .bottom-section .team {
    width: 350px !important;
  }
}

@media screen and (max-width: 931px) {
  .about-section {
    height: 1500px !important;
    flex-direction: column;
  }
  .about-section .about-left-section .rotate-text {
    right: 120px !important;
  }
  .about-right-section,
  .about-left-section {
    width: 90% !important;
  }
  .about-left-section {
    padding-top: 200px !important;
  }
}

@media screen and (max-width: 625px) {
  .about-right-section,
  .about-left-section {
    width: 120% !important;
  }
  .about-right-section .top-section {
    width: 400px !important;
  }
  .about-right-section .top-section p {
    width: 440px !important;
  }
  .about-right-section .top-section h4 {
    font-size: 30px !important;
  }
  .about-right-section .bottom-section h3 {
    font-size: 25px !important;
  }
  .about-right-section .bottom-section .team span {
    font-size: 22px !important;
  }
  .about-right-section .bottom-section {
    width: 400px !important;
  }
}

@media screen and (max-width: 495px) {
  .about-right-section {
    padding: 10px !important;
  }

  .about-right-section .top-section {
    width: 100% !important;
  }
  .about-right-section .top-section p {
    width: 100% !important;
  }
  .about-right-section .top-section h4 {
    font-size: 30px !important;
  }
  .about-right-section .bottom-section h3 {
    font-size: 25px !important;
  }
  .about-right-section .bottom-section .team span {
    font-size: 22px !important;
  }
  .about-right-section .bottom-section {
    width: 100% !important;
  }

  .about-right-section .bottom-section .team {
    width: 90% !important;
  }

  .about-section .about-left-section .rotate-text {
    font-size: 150px !important;
    right: 160px !important;
  }
}

/* Footer Section
================================================================= */

@media screen and (max-width: 758px) {
  .footer {
    padding-top: 20px;
    justify-content: flex-start !important;
    height: 250px !important;
  }
}

/* Nav Responsive
================================================================== */
@media screen and (max-width: 1100px) {
  .nav-wrapper .rotate-text {
    top: 150px !important;
  }
  #bigbee-nav {
    font-size: 200px !important;
  }
  #bigbee-nav::after {
    top: 220px !important;
  }
  .nav-items {
    font-size: 50px !important;
  }
}
@media screen and (max-width: 800px) {
  .nav-right-section {
    display: none !important;
  }
  .nav-left-section {
    width: 100% !important;
  }
  .nav-content {
    padding-top: 100px;
  }
}
/* End Nav Responsive */

/* Contact Responsive
==================================================================== */

@media screen and (max-width: 1840px) {
  .contact {
    width: 600px !important;
  }
  .contact .input-groups .input {
    width: 400px !important;
  }
  #email,
  #name {
    width: 195px !important;
  }
}

@media screen and (max-width: 1404px) {
  .contact {
    width: 550px !important;
  }
  .contact .input-groups .input {
    width: 380px !important;
    height: 33px !important;
  }
  #email,
  #name {
    width: 185px !important;
  }
  .submit {
    width: 250px !important;
    font-size: 13px !important;
    height: 35px !important;
  }
  #contact {
    font-size: 170px !important;
  }
  #contact::after {
    left: 380px !important;
    top: 170px !important;
  }
  .contact-wrapper .contact-right-section .rotate-text {
    right: 80px !important;
  }
}

@media screen and (max-width: 1146px) {
  .contact {
    width: 500px !important;
    height: 52% !important;
  }
  .contact .input-groups .input {
    width: 350px !important;
  }
  #email,
  #name {
    width: 170px !important;
  }
}

@media screen and (max-width: 1066px) {
  .contact-wrapper .rotate-text {
    right: 0 !important;
    top: 50px !important;
  }
  #contact {
    font-size: 150px !important;
  }
  .contact {
    width: 450px !important;
    height: 52% !important;
  }

  .contact .title-section h4 {
    font-size: 21px;
  }
  button.submit {
    cursor: none;
    border-radius: 30px;
    width: 300px;
    display: flex;
    font-family: "raleway";
    font-size: 15px;
    justify-content: center;
    color: white;
    background: var(--darkColor);
    align-items: center;
    height: 40px;
  }

  button i {
  }
}

@media screen and (max-width: 928px) {
  .contact-wrapper {
    flex-direction: column-reverse;
    height: 1700px !important;
  }
  .contact {
    width: 450px;
    height: 540px !important;
  }
  .contact-left-section,
  .contact-right-section {
    padding-left: 0 !important;
    height: 50% !important;
    width: 100% !important;
  }

  .contact .input-groups .input {
    width: 380px !important;
  }
  #email,
  #name {
    width: 185px !important;
  }
}
@media screen and (max-width: 615px) {
  .contact-wrapper .contact-right-section .rotate-text {
    right: 130px !important;
  }
}

@media screen and (max-width: 519px) {
  .contact {
    width: 420px !important;
    height: 540px !important;
  }

  .contact .input-groups .input {
    width: 350px !important;
  }
  #email,
  #name {
    width: 170px !important;
  }
}

@media screen and (max-width: 458px) {
  .contact {
    width: 390px !important;
    height: 540px !important;
  }

  .contact .input-groups .input {
    width: 320px !important;
    font-size: 13px !important;
  }
  ::placeholder {
    font-size: 13px !important;
  }
  #email,
  #name {
    width: 155px !important;
  }
}

@media screen and (max-width: 407px) {
  .contact {
    width: 340px !important;
    height: 500px !important;
  }

  .contact .input-groups .input {
    width: 310px !important;
    font-size: 13px !important;
  }
  ::placeholder {
    font-size: 13px !important;
  }
  #email,
  #name {
    width: 150px !important;
  }
}

/* Stripes Responsive */

@media screen and (max-width: 636px) {
  .stripes-wrapper,
  .stripes-wrapperYellow {
    width: 90% !important;
  }
  .second,
  .stripes-wrapperYellow .second {
    display: none !important;
  }
  .lines {
    width: 50% !important;
  }
}
