/* CSS Reset 
        ===================================*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* HTML */
html {
  overflow-x: hidden;
}

/* Common Style */
a {
  text-decoration: none;
  cursor: none;
}

/* Cursor 
        ==================================*/

.cursor {
  width: 2rem;
  height: 2rem;
  border: 2px solid var(--lightColor);
  border-radius: 50%;
  position: absolute;
  z-index: 1000000000000000000;
  pointer-events: none;
  transition-duration: 200ms;
  transform-origin: 100% 100%;
  transition-timing-function: ease-out;
  transform: translate(-50%, -50%);
}

.cursor.active {
  background: rgba(204, 204, 204, 0.39);
  transform: scale(2);
  border: none;
  z-index: 100000000000;
}
.cursor.cursor-yellow.active {
  transform: scale(2);
  border: none;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.cursor.cursor-yellow {
  border: 2px solid var(--darkColor);
}
/* =============================== */
/* Selection */

::selection {
  background: rgba(255, 246, 168, 0.466);
  color: var(--darkColor);
}

/* Body
        ==================================== */
body {
  width: 100%;
  display: flex;
  cursor: none;
  justify-content: center;
  background: var(--darkColor);
}

/* Main Section 
        =====================================*/
.section-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 300vh;
  height: 100%;
  align-items: center;
}

.stripes-wrapper {
  position: absolute;
  top: 0;
  width: 75%;
  height: 100% !important;
  z-index: 0;
  display: flex;
  align-items: flex-end;
}
.stripes-wrapperYellow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100% !important;
  z-index: 0;
  display: flex;
  align-items: flex-end;
}

#YellowStripes {
  border-left: 1px solid var(--stripeColor);

  border-left: 1px solid var(--stripeColor);
  width: 40%;
}

.lines {
  height: 100% !important;
  opacity: 0.8;
  z-index: -1000 !important;
}
.lines.first {
  height: 95% !important;
  border-left: 1px solid var(--stripeColor);
  width: 40%;
}
.lines.second {
  width: 20%;
  border-left: 1px solid var(--stripeColor);
  border-right: 1px solid var(--stripeColor);
}

.lines.third {
  width: 40%;
  border-right: 1px solid var(--stripeColor);
  /* border-left: 1px solid var(--stripeColor); */
  height: 80%;
}

/* Menu Section 
        =======================================================================*/

.menu {
  position: fixed;
  top: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-direction: column;
  right: 100px;
  height: 50px;
  cursor: none;
  z-index: 1000000000000000;
}
.menu.menuActive .bar {
  background-color: rgb(209, 209, 209);
}
.menu .bar {
  width: 45px;
  height: 3px;
  background: rgb(117, 117, 117);
  transition: all 0.5s ease-in-out;
}
.bar2 {
  width: 25px !important;
}
.menu.active {
  z-index: 1000000000000000;
}
.menu.active .bar1 {
  transform: rotate(-45deg) translate(-10px, 10px);
}

.menu.active .bar2 {
  opacity: 0;
}
.menu.active .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}
/* ===================================== */

/* Nav Section 
        ==================================================================*/
.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--darkColor);
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  padding: 0 !important;
  position: fixed;
  top: 0;
}
.nav-wrapper {
  /* z-index: 10000000000000 !important; */
  width: 75%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container.active {
  opacity: 1;
  z-index: 1000000000;
}
/* Nav Left Section
        ============================== */
.nav-wrapper .nav-left-section {
  width: 50%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
}
.nav-wrapper .nav-left-section .logo {
  position: relative;
  left: -40px;
  top: 100px;
}

.nav-wrapper .nav-left-section .logo img {
  width: 90px;
  height: 90px;
}
.nav-wrapper .nav-left-section .nav-content {
  width: 100%;
  height: 100%;
  position: absolute;
  padding-left: 20px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  align-items: flex-start;
  justify-content: space-evenly;
  z-index: 1000000000000000;
}
.nav-items {
  transition: font-family 0.4s ease-in-out;
}
.nav-items:hover {
  transition: 0.4s ease-in-out;
  font-family: "bison-bold";
}
.nav-content a {
  color: white;
  text-decoration: none;
  font-size: 60px;
  font-family: "bison-outline";
}
/* Nav Right Section
        ================================= */

.nav-wrapper .nav-right-section {
  width: 50%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.nav-wrapper .nav-right-section .rotate-text {
  /* margin-top: 250px; */
  font-family: "bison-outline";
  margin-left: 100px;
  color: var(--lightColor);
  font-size: 250px;
  position: relative;
  right: 120px;
  top: 100px;
  z-index: 1000000000;
  transform: rotate(-90deg);
}

#bigbee-nav::after {
  content: "MEDIA";
  position: absolute;
  top: 200px;
  z-index: 10000;
  left: 200px;
}

/* End Nav Section ======================================== */

/* Home 
        =====================================================================*/
.home-wrapper {
  width: 75%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Home Left Section 
        ==========================================*/
.home-wrapper .home-left-section {
  padding-left: 30px;
  position: relative;
  width: 50%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-wrapper .home-left-section .logo {
  position: absolute;
  top: 100px;
  left: -40px;
}

.home-wrapper .home-left-section .logo img {
  width: 90px;
  height: 90px;
}
.home-wrapper .home-left-section .left-section-content {
  color: var(--lightColor);
  display: flex;
  margin-top: 200px;

  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.home-wrapper .home-left-section .left-section-content h1 {
  font-family: "bison";
  letter-spacing: 3px;
  margin-bottom: 20px;
  position: relative;
  top: 50px;
  opacity: 0;
  transition: 0.5s ease-in;
}
.home-wrapper .home-left-section .left-section-content hr {
  background: var(--themeColor);
  height: 2px;
  margin: 0;
  font-size: 20px;
  margin-bottom: 20px;
  width: 200px;
  opacity: 0;
  position: relative;
  left: -100px;
}

.home-wrapper .home-left-section .left-section-content p {
  font-size: 15px;
  color: rgb(139, 139, 139);
  font-family: "raleway";
  opacity: 0;
  position: relative;
  bottom: -50px;
  letter-spacing: 1px;
  width: 75%;
}
.home-wrapper .home-left-section .left-section-content .home-btn {
  margin-top: 30px;
  position: relative;
  z-index: 100000000;
}
.home-wrapper .home-left-section .left-section-content .home-btn hr {
  position: absolute;
  width: 50px;
  height: 1.5px;
  bottom: 1px;
  transition: 0.4s ease-in-out;
  right: -20px;
  background: var(--themeColor);
}
.home-wrapper .home-left-section .left-section-content .home-btn button {
  width: 180px;
  cursor: none;
  height: 45px;
  background: none;
  font-family: "bison";
  letter-spacing: 2px;
  font-size: 12px;
  color: var(--lightColor);
  border: 2px solid var(--lightColor);
}

.home-btn:hover #btn-hr {
  right: -35px;
}

/* Home Right Section
        =================================================== */
.home-wrapper .home-right-section {
  width: 50%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.home-wrapper .home-right-section .home-image {
  position: absolute;
  z-index: 100000000;
  right: 350px;
  width: 300px;
  top: 100px;
  height: 600px;
}
.home-wrapper .home-right-section .home-image img {
  width: 200px;
  transform: scale(0.7);
  transition: 0.6s ease-in-out;
}

.home-wrapper .home-right-section .home-image p {
  font-size: 14px;
  letter-spacing: 5px;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 250px;
  left: -100px;
  color: var(--lightColor);
  font-family: "bison-medium";
}
#image-text {
  color: var(--themeColor);
}
.home-wrapper .home-right-section .rotate-text {
  /* margin-top: 250px; */
  font-family: "bison-outline";
  margin-left: 100px;
  color: var(--lightColor);
  font-size: 200px;
  position: relative;
  right: 120px;
  top: 100px;
  z-index: 10000;
  transform: rotate(-90deg);
}

#bigbee::after {
  content: "MEDIA";
  position: absolute;
  top: 160px;
  z-index: 10000;
  left: 200px;
}

/* Service Section 
        ========================================================*/

.service-wrapper {
  width: 75%;
  display: none;
  position: relative;
  display: flex;
  min-height: 1000px;
  z-index: 0;
  align-items: center;
  justify-content: center;
}

/* Service Left Section
        =================================== */

.service-wrapper .service-left-section {
  width: 50%;
  color: var(--darkColor);
  display: flex;
  padding-left: 30px;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.service {
  margin-bottom: 20px;
}

.service-wrapper .service-left-section h4 {
  font-family: "bison-bold";
  font-size: 24px;
}

.service-wrapper .service-left-section p {
  font-family: "raleway";
  font-weight: 500;
  font-size: 14px;
  width: 50%;
}

.service-wrapper .service-right-section {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.service-wrapper .service-left-section .service-btn {
  position: relative;
  margin-top: 50px;
  /* margin-bottom: 100px; */
  z-index: 100000000000 !important;
}
.service-wrapper .service-left-section .service-btn hr {
  position: absolute;
  width: 50px;
  height: 1.5px;
  bottom: 5px;
  transition: 0.4s ease-in-out;
  right: -20px;
  background: var(--darkColor) !important;
}
.service-wrapper .service-left-section .service-btn button {
  width: 180px;
  cursor: none;
  height: 45px;
  z-index: 100000000000 !important;

  background: none;
  font-family: "bison";
  letter-spacing: 2px;
  font-size: 12px;
  color: var(--darkColor);
  border: 2px solid var(--darkColor);
}

.service-btn:hover #btn-hr2 {
  right: -35px;
}

/* Service Right Section
        =================================================== */
.service-wrapper .service-right-section {
  width: 50%;
  min-height: 140vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.service-wrapper .service-right-section .service-image {
  position: absolute;
  z-index: 100000000000000000;
  right: 450px;
  width: 300px;
  top: 200px;
  height: 600px;
}
.service-wrapper .service-right-section .service-image img {
  width: 250px;
}

.service-wrapper .service-right-section .service-image p {
  font-size: 14px;
  letter-spacing: 5px;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 250px;
  left: -100px;
  color: var(--darkColor);
  font-family: "bison-medium";
}
#image-text-2 {
  color: #fff;
}
.service-wrapper .service-right-section .rotate-text {
  /* margin-top: 250px; */
  font-family: "bison-outline";
  margin-left: 100px;
  color: var(--darkColor);
  font-size: 200px;
  position: relative;
  right: 120px;
  top: 100px;
  z-index: 10000;
  transform: rotate(-90deg);
}

#service::after {
  content: "Services";
  position: absolute;
  top: 160px;
  z-index: 10000;
  left: 200px;
}

/* Project Section */

.project-wrapper {
  width: 75%;
  display: none;
  position: relative;
  display: flex;
  height: 1200px;
  z-index: 0;
  align-items: center;
  justify-content: center;
}

/* Project Left Section
        =================================== */

.project-wrapper .project-left-section {
  width: 50%;
  color: var(--lightColor);
  display: flex;
  padding-left: 30px;
  height: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.project-wrapper .project-left-section .rotate-text {
  /* margin-top: 250px; */
  font-family: "bison-outline";
  margin-left: 100px;
  color: var(--lightColor);
  font-size: 200px;
  position: relative;
  right: 320px;
  top: 300px;
  z-index: 10000;
  transform: rotate(-90deg);
}

#project::after {
  content: "Projects";
  position: absolute;
  top: 160px;
  z-index: 10000;
  left: 200px;
}

.project-wrapper .project-left-section .project-image {
  position: absolute;
  z-index: 100000000000000000;
  left: 300px;
  width: 300px;
  top: -60px;
  height: 600px;
}

.project-wrapper .project-left-section .project-image p {
  font-size: 14px;
  letter-spacing: 5px;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 10px;
  left: -200px;
  color: var(--lightColor);
  font-family: "bison-medium";
}
#image-text-3 {
  color: var(--themeColor);
}

/* project Right Section
        =================================================== */
.project-wrapper .project-right-section {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1200px;
  font-family: "bison-medium";
  font-size: 30px;
  letter-spacing: 4px;
  flex-direction: column;
  padding-top: 120px;
}

.project-right-section .project1 {
  width: 100%;
  height: 50%;
  color: var(--lightColor);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.project-right-section .project2 {
  width: 100%;
  height: 50%;
  color: var(--lightColor);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}
.project-right-section img {
  width: 600px;
}

.project-wrapper .project-right-section .project-btn {
  position: relative;
  margin-top: 50px;
  z-index: 10000000000;

  /* margin-bottom: 100px; */
}
.project-wrapper .project-right-section .project-btn hr {
  position: absolute;
  width: 50px;
  height: 1.5px;
  bottom: 5px;
  transition: 0.4s ease-in-out;
  right: -20px;
  background: var(--themeColor) !important;
}
.project-wrapper .project-right-section .project-btn button {
  z-index: 1000000000000000000;
  width: 180px;
  cursor: none;
  height: 45px;
  background: none;
  font-family: "bison";
  letter-spacing: 2px;
  font-size: 12px;
  color: var(--lightColor);
  border: 2px solid var(--lightColor);
}

.project-btn:hover #btn-hr3 {
  right: -35px;
}

/* About Section 
        =============================================================================*/

.about-section {
  width: 75%;
  display: none;
  position: relative;
  display: flex;
  height: 1000px;
  z-index: 0;
  align-items: center;
  justify-content: center;
}

/* Project Left Section
        =================================== */

.about-section .about-left-section {
  width: 50%;
  color: var(--darkColor);
  display: flex;
  padding-left: 30px;
  height: 1000px;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.about-section .about-left-section .rotate-text {
  /* margin-top: 250px; */
  font-family: "bison-outline";
  margin-left: 100px;
  color: var(--darkColor);
  font-size: 200px;
  position: relative;
  right: 320px;
  top: 0px;
  z-index: 10000;
  transform: rotate(-90deg);
}

#about::after {
  content: "Us";
  position: absolute;
  top: 160px;
  z-index: 10000;
  left: 200px;
}

/* About Right Section
        =================================================== */
.about-section .about-right-section {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1000px;
  flex-direction: column;
  padding-top: 120px;
}

.about-right-section .top-section {
  width: 500px;
  display: flex;
  color: var(--darkColor);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.about-right-section .top-section h4 {
  font-size: 35px;
  letter-spacing: 3px;
  font-family: "bison-bold";
}
.about-right-section .top-section p {
  font-size: 18px;
  width: 500px;
  margin-top: 10px;
  letter-spacing: 1px;
  font-weight: 500;
  font-family: "raleway";
}
.about-right-section .top-section hr {
  background: var(--darkColor);
  width: 300px;
  height: 2px;
}
.about-right-section .bottom-section {
  width: 500px;
  display: flex;
  color: var(--darkColor);
  align-items: flex-end;
  flex-direction: column;
  /* justify-content: ; */
}

.about-right-section .bottom-section h3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 30px;
  font-family: "bison-bold";
  letter-spacing: 2px;
}
.about-right-section .bottom-section .team {
  width: 390px;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.about-right-section .bottom-section .team span {
  width: 50%;
  font-size: 25px;
  font-family: "bison-bold";
  display: flex;
  letter-spacing: 1.4px;
  align-items: center;
  justify-content: flex-start;
}

.about-right-section .bottom-section .team p {
  width: 50%;
  font-family: "bison-medium";
  font-size: 20px;
  display: flex;
  letter-spacing: 1px;
  margin: 0 !important;
  align-items: center;
  justify-content: flex-start;
}

/* Footer Section */

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  color: var(--lightColor);
  /* background: var(--darkColor); */
}

.footer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-first,
.footer-second,
.footer-third {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.footer-first h2 {
  font-size: 30px;
  letter-spacing: 3px;
  font-family: "bison-bold";
}

.footer-first span {
  font-size: 18px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-family: "bison-medium";
}

.footer-first p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  font-family: "raleway";
}

.footer-second span {
  font-size: 24px;
  letter-spacing: 1px;
  font-family: "bison-bold";
}

.footer-second a {
  font-size: 20px;
  text-decoration: none;
  outline: none;
  letter-spacing: 2px;
  color: var(--lightColor);
  font-family: "bison";
  margin: 0 !important;
}
.footer-third a {
  font-size: 20px;
  text-decoration: none;
  outline: none;
  letter-spacing: 2px;
  color: var(--lightColor);
  font-family: "bison-medium";
  margin: 0 !important;
}
