/* CSS Reset 
===================================*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* Selection */

::selection {
  background: rgba(255, 236, 65, 0.466);
  color: var(--darkColor);
}

/* Body
==================================== */
body {
  width: 100%;
  min-height: 300vh;
  display: flex;
  justify-content: center;
  background: var(--darkColor);
}

/* Main Section 
=====================================*/
.section-wrapper {
  position: relative;
  width: 75%;
  display: flex;
  min-height: 300vh;
  justify-content: center;
  height: 100%;
}

.stripes-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
  z-index: 0;
  display: flex;
  align-items: flex-end;
}

.stripes-wrapper .lines {
  height: 100% !important;
  opacity: 0.3;
  z-index: -1000 !important;
}
.stripes-wrapper .lines.first {
  height: 70%;
  border-left: 1px solid var(--stripeColor);
  width: 40%;
}
.stripes-wrapper .lines.second {
  width: 15%;
  border-left: 1px solid var(--stripeColor);
  border-right: 1px solid var(--stripeColor);
}

.stripes-wrapper .lines.third {
  width: 40%;
  border-right: 1px solid var(--stripeColor);
  /* border-left: 1px solid var(--stripeColor); */
  height: 80%;
}
/* Home 
=====================================*/
.home-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Home Left Section */
.home-wrapper .home-left-section {
  padding-left: 30px;
  position: relative;
  width: 50%;
  min-height: 100vh ;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-wrapper .home-left-section .logo {
  position: absolute;
  top: 100px;
  left: -40px;
}

.home-wrapper .home-left-section .logo img {
  width: 90px;
  height: 90px;
}
.home-wrapper .home-left-section .left-section-content {
  color: var(--lightColor);
  display: flex;
  margin-top: 200px;

  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.home-wrapper .home-left-section .left-section-content h1 {
  font-family: "bison";
  letter-spacing: 3px;
  margin-bottom: 20px;
}
.home-wrapper .home-left-section .left-section-content hr {
  background: var(--themeColor);
  height: 2px;
  margin: 0;
  font-size: 20px;
  margin-bottom: 20px;
  width: 200px;
}

.home-wrapper .home-left-section .left-section-content p {
  font-size: 15px;
  color: rgb(139, 139, 139);
  font-family: "raleway";
  letter-spacing: 1px;
  width: 75%;
}
.home-wrapper .home-left-section .left-section-content .home-btn {
  margin-top: 30px;
  position: relative;
}
.home-wrapper .home-left-section .left-section-content .home-btn hr {
  position: absolute;
  width: 50px;
  height: 1.5px;
  bottom: 1px;
  transition: 0.4s ease-in-out;
  right: -20px;
  background: var(--themeColor);
}
.home-wrapper .home-left-section .left-section-content .home-btn button {
  width: 180px;
  height: 45px;
  background: none;
  font-family: "bison";
  letter-spacing: 2px;
  font-size: 12px;
  color: var(--lightColor);
  border: 2px solid var(--lightColor);
}

.home-btn:hover #btn-hr {
  right: -35px;
}

/* Home Right Section */
.home-wrapper .home-right-section {
  width: 50%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.home-wrapper .home-right-section .home-image {
  position: absolute;
  z-index: 100000000000000000;
  right: 350px;
  width: 300px;
  top: 100px;
  height: 600px;
}
.home-wrapper .home-right-section .home-image img {
  width: 200px;
}

.home-wrapper .home-right-section .home-image p {
  font-size: 14px;
  letter-spacing: 5px;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 250px;
  left: -100px;
  color: var(--lightColor);
  font-family: "bison-medium";
}
#image-text {
  color: var(--themeColor);
}
.home-wrapper .home-right-section .rotate-text {
  /* margin-top: 250px; */
  font-family: "bison-outline";
  margin-left: 100px;
  color: var(--lightColor);
  font-size: 200px;
  position: relative;
  right: 120px;
  top: 100px;
  z-index: 10000;
  transform: rotate(-90deg);
}

#bigbee::after {
  content: "MEDIA";
  position: absolute;
  top: 160px;
  z-index: 10000;
  left: 200px;
}
